* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  margin-top: 5px;
  /* margin-left: 50px; */
}
.mj {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1800px;
  height: 100px;
  align-items: center;
  border: 2px solid black;
  background-color: black;
  color: white;
}
.cycle {
  width: 20%;
  border-right: 2px solid white;
  height: 100px;
  align-items: center;
  justify-content: center !important;
  display: flex;
}
.nav {
  width: 65%;
  height: 100px;
}

.logo {
  width: 15%;
  border-left: 2px solid white;
  height: 100px;
}

.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  display: flex;
  list-style: none;
  width: 180px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  color: white;
  text-decoration: underline;
  text-decoration-color: blue;
}

.gm {
  display: flex;
}

.gm img {
  margin: auto;
  display: flex;
  border: 2px solid black;
  width: 1800px;
  height: 1000px;
}
.mg {
  margin: auto;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  width: 1800px;
}
.container {
  margin: auto;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 1800px;
}
.div {
  border: 3px solid black;
  padding: 10px;
  width: 50%;
}
.icon {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center !important;
  margin-top: 12%;
  gap: 10%;
  margin-left: 30%;
}

.icon i {
  font-size: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-btn {
  margin: auto;
  display: flex;
  border: 2px solid black;
  justify-content: center;
  width: 1800px;
  height: 50px;
  padding: 5px;
}

.view {
  border-radius: 20%;
}

.jm {
  margin: auto;
  border: 2px solid black;
  width: 1800px;
  text-align: center;
}



.container-2 {
  width: 1795px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 2px;
}

.category-box {
  border: 2px solid #000;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.category-box img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.video iframe {
  margin: auto;
  width: 1800px;
  height: 500px;
  border: 3px solid black;
  margin-top: 10px;
}

.image img {
  margin: auto;
  width: 1800px;
  height: 700px;
  margin-top: 1px;
  border: 4px solid black;
}

.footer {
  margin: auto;
  border-top: 2px solid black;
  margin-top: 20px;
  padding: 20px 0;
  width: 1800px;
  background-color: white;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 1800px;
  border: 1px solid black;
  height: 350px;
}

.footer-box {
  width: 25%;
  border-right: 1px solid black;
  padding: 10px;
}

.footer-box:last-child {
  border-right: none;
}

.footer-box h3 {
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}

.footer-box p {
  margin: 5px 0;
  padding: 3px;
}

.footer-box input {
  padding: 5px;
  width: 80%;
}

.social-icons span {
  margin: 5px;
  font-size: 20px;
}
